*, *::after,*::before{
    box-sizing: border-box;
}

:root{
    --color-primary:#172339;
    --color-secondary:#a1aaba;
    --color-accent:#5d616b;
    --color-bg:#f9f8f6;
    --color-footer:#f2ede7;
}

html{
    font-size: 62.5%;
    font-family: 'Epilogue', sans-serif; 

}

body{
    background-color: var(--color-bg);
}

/* Logo */

.logo{
    width: 100%;
    height:30px;
    min-width:100px;
    max-width:100px;
    
}

@media screen and (min-width:720px){
    .logo{
        transform: scale(0.9);
    }
}


@media screen and (min-width:1024px){
    .logo{
        transform: scale(0.7);
    }
}

/* Buttons */

.btn{
    outline: none;
    border:0;
    border-radius: 5px;
    padding:1rem;
    
    font-weight: 700;
}

.btn--outline{

    border:1px solid var(--color-primary);
    color:var(--color-primary);
    background-color: #fff;
    width:200px;
    height: 50px;
    font-size: 1.3rem;

    
}

.btn--colored{
    color:#fff;
    background-color:var(--color-primary);
    width:250px;
    height: 50px;
    font-size: 1.5rem;

}

/* Content */

.content{
    max-width:380px;
    
}

.content__arc{
    width:45%;
    position: relative;
    left:12.5rem;
    top:2rem;
}

.content__heading{
    font-weight:400;
    font-size: 4rem;
    color: var(--color-primary);
}

.bold{
    font-weight: 700;
}

.content__matter{
  
    font-size: 1.5rem;
    color: var(--color-accent);
    line-height: 1.7;
    max-width:330px;

}

@media screen and (min-width:720px){

    .content{
        max-width:400px;
    }
    

    .content__arc{
        left:18rem;
        top:2rem;
    }

    .content__heading{
     
        font-size: 4.3rem;
        color: var(--color-primary);
    }
 
    .content__matter{
      
        
        color: var(--color-accent);
       
    
    }

}

@media screen and (min-width:1024px){

    .content{
        max-width:450px;
    }


    .content__arc{
        left:19rem;
        top:2rem;
    }
    

    .content__heading{
     
        font-size: 4.6rem;
        color: var(--color-primary);
    }
 
    .content__matter{
      
        
        color: var(--color-accent);
        max-width:240px;
        font-size: 1.2rem;
       
    
    }

}


/* Features */

.features{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.features__heading{
    font-size: 3.5rem;
    color: var(--color-primary);
}

.features__content{
    font-size:1.5rem;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--color-accent);
    letter-spacing: 1px;
    margin-top:-1.2rem;
    
}

@media screen and (min-width:720px){
    .features{
        
        flex-direction: row;
       
        justify-content: space-around;
        
    }
    
    .features__heading{
        font-size: 3.3rem;
      
    }
    
    .features__content{
        font-size:1.4rem;

        
    }
    
}

@media screen and (min-width:1024px){
    .features{
        
        flex-direction: column;
        text-align: left;
        
    }
    
    .features__heading{
        font-size: 3.3rem;
      
    }
    
    .features__content{
        font-size:1.4rem;

        
    }
    
}

/* Layout */

.hero{
 
    max-height: 100%;
    min-height: 200px;
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.hero__content{
    /* background-color: var(--color-accent); */

    /* min-height: 50px; */
    height: 100%;
    border: 2px solid red;
    font-size: 4rem;
    
 

}

@media screen and (min-width:720px){

    .hero{
        
        
        flex-direction: row;
        flex-wrap: wrap;
    
    
    }

    .hero__content{
        height: 100%;
        min-width:50%;

    }

    #special{
        
        flex-grow:1;
        display: block;
    }
}

@media screen and (min-width:1024px){
    .hero{
        flex-direction: row;
        flex-wrap: nowrap;
       
    }

    .hero__content{
        height: 50%;
        min-width: auto;
        width: 100%;
        height: 100%;
       

    }

    #special{
        

      flex-grow: 0;
      
     
    }
}


.review{
    
    display: flex;
    background-color: #172339;
    max-height:100%;
    min-height: 200px;
    /* height: auto; */
    flex-direction: column;
    border-radius: 2rem;
    margin-top:10rem;
    
}

.review__content{
    
    border:2px solid red;
    min-height: 100%;
    height:350px;
    min-width:50px;
    width: 100%;
}

/* Header */

header{
    display:flex;
 
    justify-content: space-between;
  

}


.container{
    padding:4rem;
}

.phone-img{
    width:100%;
    margin-top:4rem; 
    margin-bottom:4rem; 
}

@media screen and (min-width:720px){
    .phone-img{
        padding-left:1rem;
        height:350px;
        width:220px;
     
    }
    /* .container{
        padding:4rem;
    } */
}

@media screen and (min-width:1024px){
    .phone-img{
        padding-left:1rem;
        height:400px;
        width:250px;
     
    }
    .container{
        padding:6rem;
    }
}

/* Jeremy */

.jeremy-img{
    width:20rem;
    position: relative;
    top:-60rem;
    left:14.5rem;
}

.blur{
    position: relative;
    top:-10rem;
    
}
.review__item{
    text-align: center;
}
.review__heading{
    color:#fff;
    font-weight: 400;
    font-size: 3rem;
}

.review__matter{
    color:var(--color-secondary);
    font-size: 1.2rem;
    line-height: 1.5;
    /* max-width: 260px; */
    padding:13.5rem;
    margin-top:-12rem;

   
}

.name{
    color:#fff;
    font-size: 1.5rem;
}

.position{
    color:var(--color-secondary);
    font-size: 1.5rem;
    margin-top:-1rem;
}

.jeremy{
    margin-top:-12rem;
}