*, *::after,*::before{
    box-sizing: border-box;
}

:root{
    --color-primary:#172339;
    --color-secondary:#a1aaba;
    --color-accent:#5d616b;
    --color-bg:#f9f8f6;
    --color-footer:#f2ede7;
}

html{
    font-size: 62.5%;
    font-family: 'Epilogue', sans-serif; 

}



body{
    background-color: var(--color-bg);

}



/* Buttons */

.btn{
    outline: none;
    border:0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
    margin-top:3rem;
    margin-bottom:3rem;
}

.btn--outline{

    border:1px solid var(--color-primary);
    color:var(--color-primary);
    background-color: #fff;
    width:200px;
    height: 50px;
    
    font-size: 1.3rem;

    
}

.btn--colored{
    color:#fff;
    background-color:var(--color-primary);
    width:280px;
    height: 60px;
    font-size: 1.7rem;

}

@media screen and (min-width:1024px){
    .btn--colored{

        width:230px;
        height: 50px;
        font-size: 1.3rem;
    
    }

}

/* Header */

header{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    align-items: center;
    padding:2rem;

}

@media screen and (min-width:720px){

    header{

        padding:4rem;
    }

}

@media screen and (min-width:1024px){

    header{
        padding-left: 24rem;
        padding-right: 24rem;
    }

}

.header__item{
    /* border: 2px solid green; */
}

/* Content */

.content{
    max-width:540px;
    
}

.content__arc{
    width:45%;
    position: relative;
    left:16rem;
    top:3rem;
}

.content__heading{
    font-weight:400;
    font-size: 3.9rem;
    color: var(--color-primary);
}

.bold{
    font-weight: 700;
}

.content__matter{
  
    font-size: 1.6rem;
    color: var(--color-accent);
    line-height: 1.7;
    max-width:450px;

}

@media screen and (min-width:720px){

    .content{
        max-width:420px;
    }
    

    .content__arc{
        left:16rem;
        top:2rem;
    }

    .content__heading{
     
        font-size: 3.8rem;
        color: var(--color-primary);
        
    }
 
    .content__matter{
      
        
        color: var(--color-accent);
        font-size:1.3rem;
        max-width: 280px;
       
    
    }

}

@media screen and (min-width:1024px){

    .content{
        max-width:470px;
    }


    .content__arc{
        left:18rem;
        top:2rem;
    }
    

    .content__heading{
     
        font-size: 4.4rem;
        color: var(--color-primary);
    }
 
    .content__matter{
      
        
        color: var(--color-accent);
        max-width:240px;
        font-size: 1.2rem;
       
    
    }

}


/* Features */

.features{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.features__heading{
    font-size: 3.5rem;
    color: var(--color-primary);
}

.features__content{
    font-size:1.5rem;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--color-accent);
    letter-spacing: 1px;
    margin-top:-1.2rem;
    
}

@media screen and (min-width:720px){
    .features{
        
        flex-direction: row;
       
        justify-content: space-around;
        
    }
    
    .features__heading{
        font-size: 3.3rem;
      
    }
    
    .features__content{
        font-size:1.4rem;

        
    }
    
}

@media screen and (min-width:1024px){
    .features{
        
        flex-direction: column;
        text-align: left;
        
    }
    
    .features__heading{
        font-size: 3.3rem;
      
    }
    
    .features__content{
        font-size:1.4rem;

        
    }
    
}

/* Hero */

.hero{
    /* border:2px solid red; */
    display: flex;
    flex-direction: column;
    gap:3rem;
    padding: 2rem;
}

.hero__item{
    /* border: 2px solid green; */
}

.phone-img{
    width: 100%;
}

@media screen and (min-width:720px){
    .hero{
        flex-direction: row;
        flex-wrap: wrap;
        padding:4rem;
    }

    .hero__item{
        /* flex-grow:1; */
    }

    .features{

        /* flex-grow:2; */
        width: 100%;
    
    }

    .content{
        width:51%;
        min-width:344px;
        max-width: 380px;
        left: 8rem;
    }

    .phone-img-container{
        width:43%;
        /* height: 10%; */
        
    }

    .phone-img{
        height:90%;
    }
}

@media screen and (min-width:1024px){
    .hero{
        flex-direction: row;
        flex-wrap: nowrap;
        padding-left: 8rem;
        padding-right: 0;
        align-items: center;
    }

    /* .hero__item{
        flex-grow:1;
    } */

    .features{

        /* flex-grow:2; */
        width: 15%;
    
    }

    .content{
        /* width:51%; */
        width: 33.3%;
        min-width: 395px;
        max-width: 450px;
    }

    .phone-img-container{
        /* width:45%; */
        width: 40%;
       
        
        
    }

    .phone-img{
        width:50%;
    }
}


.review{
    margin-top:16rem;
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    border-radius: 2rem;
}

.review__item{
    /* border: 2px solid green; */
    height: auto;

    
}

.review__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
   
}

.review__arc{
    width:15%;
    position: relative;
    top:-8rem;
    
}

.jeremy-img{
    width:40%;
    position: relative;
    top:-15rem;
    left:-4rem;
}

.blur{
    width: 40%;
    position: relative;
    top:-12rem;
    left:16rem;
}

.review__heading{
    color:#fff;
    font-weight: 400;
    font-size: 3.5rem;
}

.review__matter{
    color:var(--color-secondary);
    font-size: 2rem;
    line-height: 1.5;
    max-width: 350px;
    

   
}

.review__stuff{
    text-align: center;
    position: relative;
    top:-4rem;
}

.name{
    color:#fff;
    font-size: 1.8rem;
}

.position{
    color:var(--color-secondary);
    font-size: 1.8rem;
    margin-top:-1rem;
}

.jeremy{
    position: relative;
    top:2rem;
}

@media screen and (min-width:720px)
{

.review{
        position: relative;
        top: 8rem;
    }

.review__matter{
    
    font-size: 1.8rem;
    
    max-width: 560px;
    

   
}

.review__item{
    height: auto;
}

.blur{
    
    /* left:18rem; */



}

.review__arc{

    /* top:-8rem; */
    width: 15%;
}

}

@media screen and (min-width:1330px){
    .review{
        flex-direction: row;
        margin-left:14rem;
        margin-right: 14rem;
        min-height:450px;
        /* max-height:450px ; */
        /* min-width:1076px;
        max-width:1076px; */
        min-width: 935px;
        max-width: 935px;
    }
    
    .review__content{
        flex-direction: row;
    }

    .review__stuff{
        text-align: left;
    }

    .review__matter{
    
        font-size: 1.5rem;
        line-height: 1.5;
        max-width: 270px;
        
    
       
    }

    .jeremy-box{
         height:450px;
         width:50%;
    }

    .jeremy-img{
        width: 62%;
        position: relative;
        top: -21rem;
        left: 6rem;
    }
    }

    .blur{
        /* top: 25rem;
        left: 5rem; */
        display: hidden;
        opacity: 0;
    }

    .review__arc{
        left:-8rem;
    }


.copyright{
    font-size:1.2rem;
}

.footer__logo{
    width:80px;

}

.icons{
    display: flex;
    gap:2rem;
}

footer{
    background-color: var(--color-footer);
    /* margin-top:3rem; */
    display: flex;
    flex-direction: column;
    gap:3rem;
    justify-content: center;
    align-items: center;
    min-height:200px ;
  
}

@media screen and (min-width:720px){
    footer{
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
        padding-bottom: 2rem;
        height:300px;
        
    }
}

@media screen and (min-width:1359px)
{

}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}